doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

    body
        h2 Task3
        h4 Format: after labFirst_var2 add this string task3?Text1=2000&Text2=2500&Text3=3000&Text4=4000
include footer.pug
